.carousel{
    width: 500px;
    height: 500px;
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: 0;
}

.carousel img{
    height:500px;
}

.center{
    text-align: center;
    margin: 80px;   
}

.Services{
    background-color: #FCAFAF;
    height: 700px;
}