.header {
  height: 10vh;
  line-height: 10vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 999;
}

.header .container {
  padding-top: 15px;
  padding-bottom: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}



.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul li {
  margin-left: 30px;
  font-size: 2rem;
}

.nav-menu ul li a {
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
}

/* Close icon */
.close-icon {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

/* Media Queries for various screen sizes */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-menu.open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .nav-menu.open ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
  }

  .nav-menu.open ul li {
    margin: 20px 0;
    font-size: 1.5rem;
  }

  .close-icon {
    display: block;
  }
}
