.header {
  height: 10vh;
  line-height: 10vh;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 999;
}

.header .container {
  padding-top: 15px;
  padding-bottom: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul li {
  margin-left: 30px;
  font-size: 2rem;
}

.nav-menu ul li a {
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
}

/* Close icon */
.close-icon {
  display: none;
  font-size: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

/* Media Queries for various screen sizes */
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-menu.open {
    display: flex;
    position: fixed;
    top: 0;
    right: 0; /* Position the menu in the top-right corner */
    width: 80%; /* Adjust width of the pop-up menu */
    max-width: 300px; /* Set a maximum width */
    height: 100vh;
    background-color: white;
    flex-direction: column;
    align-items: flex-end; /* Align items to the right */
    z-index: 1000;
    padding: 20px; /* Add padding inside the menu */
  }

  .nav-menu.open ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-menu.open ul li {
    margin: 15px 0; /* Decrease margin between links */
    font-size: 1.2rem; /* Decrease font size */
  }

  .close-icon {
    display: block;
  }
}
